/* Structure */
.mat-card{
  margin: 20px;
}
.ng-container{
  width: 30px;
  align-content: center;
  border: 1;
}
.mat-card-title{
  min-height: 56px;
  max-height: 56px;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  
  .mat-input-container {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
    margin-top: 8px;
  }
  
  .example-no-results {
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 12px;
    font-style: italic;
  }
  
  /** Selection styles */
  .example-selection-header {
    font-size: 18px;
    background: rgba(255, 64, 129, 0.3);
    border-bottom: 1px solid #d696ac;
  }
  
  .mat-column-select {
    max-width: 54px;
  }
  
  .mat-row:hover, .example-selected-row {
    background: #f5f5f5;
  }
  
  .mat-row:active, .mat-row.example-selected-row {
    background: #eaeaea;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .mat-col{
    display: flex;
    align-content: center;
    text-align: center;
    margin-right: 10px;
  }

  .pointer{
    cursor: pointer;
  }